global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen primary
    bind *:5000
    balance first
    default-server inter 10s fall 2 rise 1
    server pg1 postgres-1:5432 maxconn 100 check
    server pg2 postgres-2:5432 maxconn 100 check backup
    server pg3 postgres-3:5432 maxconn 100 check backup

listen standbys
    balance roundrobin
    bind *:5001
    default-server inter 10s fall 3 rise 2
    server pg1 postgres-1:5432 maxconn 100 check
    server pg2 postgres-2:5432 maxconn 100 check
    server pg3 postgres-3:5432 maxconn 100 check

